<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <title>Alarmy 24h</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <body>
    <header class="topbar">
      <h1>Alarmy z ostatnich 24 godzin</h1>

      <div class="topbarright">
        <a class="toplink" href="/">Strona główna</a>
      </div>
    </header>

    <main class="dashboard">
      <section class="pagepanel">
        <h2>Historia alarmów</h2>

        <div class="pagewrapper">
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Urządzenie</th>
                <th>Temperatura</th>
                <th>Wilgotność</th>
                <th>Powód</th>
                <th>Czas</th>
              </tr>
            </thead>

            <tbody>
              {% for row in alarm_events %}
              <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }} °C</td>
                <td>{{ row[3] }} %</td>
                <td>
                  {% if row[4] == "High temperature or humidity" %} Przekroczona
                  temperatura lub wilgotność {% else %} {{ row[4] }} {% endif %}
                </td>
                <td>{{ row[5] }}</td>
              </tr>
              {% else %}
              <tr>
                <td colspan="6">Brak alarmów z ostatnich 24 godzin</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>
    </main>
  </body>
</html>
