<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pełna historia alarmów</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <body>
    <header class="topbar">
      <h1>Pełna historia alarmów</h1>

      <div class="topbarright">
        <a class="toplink" href="/">Strona główna</a>
      </div>
    </header>

    <main class="dashboard">
      <section class="pagepanel">
        <h2>Wszystkie alarmy</h2>

        <div class="pagewrapper">
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Urządzenie</th>
                <th>Temperatura</th>
                <th>Wilgotność</th>
                <th>Powód</th>
                <th>Czas</th>
              </tr>
            </thead>

            <tbody>
              {% for row in alarm_events %}
              <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }} °C</td>
                <td>{{ row[3] }} %</td>

                <td>
                  {% if row[4] == "LOW_TEMP" %} Temperatura poniżej minimum {%
                  elif row[4] == "HIGH_TEMP" %} Temperatura powyżej maksimum {%
                  elif row[4] == "LOW_HUM" %} Wilgotność poniżej minimum {% elif
                  row[4] == "HIGH_HUM" %} Wilgotność powyżej maksimum {% elif
                  row[4] == "LOW_TEMP_AND_LOW_HUM" %} Niska temperatura i
                  wilgotność {% elif row[4] == "LOW_TEMP_AND_HIGH_HUM" %} Niska
                  temperatura i wysoka wilgotność {% elif row[4] ==
                  "HIGH_TEMP_AND_LOW_HUM" %} Wysoka temperatura i niska
                  wilgotność {% elif row[4] == "HIGH_TEMP_AND_HIGH_HUM" %}
                  Wysoka temperatura i wilgotność {% else %} Alarm {% endif %}
                </td>

                <td>{{ row[5] }}</td>
              </tr>
              {% else %}
              <tr>
                <td colspan="6">Brak zapisanych alarmów</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>
    </main>
  </body>
</html>
