<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pełna historia zdarzeń systemowych</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <body>
    <header class="topbar">
      <h1>Pełna historia zdarzeń systemowych</h1>

      <div class="topbarright">
        <a class="toplink" href="/">Strona główna</a>
      </div>
    </header>

    <main class="dashboard">
      <section class="pagepanel">
        <h2>Wszystkie zdarzenia systemowe</h2>

        <div class="pagewrapper">
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Typ</th>
                <th>Opis</th>
                <th>Czas</th>
              </tr>
            </thead>

            <tbody>
              {% for row in system_events %}
              <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>

                <td>
                  {% if row[1] == "POWER_LOSS" %} Urządzenie przeszło na
                  zasilanie bateryjne {% elif row[1] == "POWER_RESTORED" %}
                  Przywrócono zasilanie główne {% elif row[1] ==
                  "DEEP_SLEEP_ENTER" %} Urządzenie przechodzi w tryb uśpienia {%
                  elif row[1] == "WAKE_UP" %} Urządzenie wybudziło się z trybu
                  uśpienia {% elif row[1] == "WIFI_CONNECTED" %} Połączono z
                  siecią Wi-Fi {% elif row[1] == "MQTT_CONNECTED" %} Połączono z
                  brokerem MQTT {% elif row[1] == "START" %} Uruchomiono
                  urządzenie {% elif row[1] == "ALARM_ON" %} Alarm został
                  aktywowany {% elif row[1] == "ALARM_OFF" %} Alarm zakończony –
                  parametry wróciły do normy {% else %} {{ row[2] }} {% endif %}
                </td>

                <td>{{ row[3] }}</td>
              </tr>
              {% else %}
              <tr>
                <td colspan="4">Brak zapisanych zdarzeń systemowych</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>
    </main>
  </body>
</html>
